.headerAdmin {
    display: flex;
    justify-content: center;
    align-items: center;
}

.textTitle{
    color:#F27B39;
}

.buttonOut {

    color: black;
    position: relative;
    left: 31%;
}

.mainContainerAdmin {
    display: flex;
    justify-content: space-around;
}
.addUser{
    display: flex;
}
.homeworkData {
    display: flex;
    justify-content: space-around;
}
.menuTeacher {
    display: flex;
    justify-content: center;
}
.menuTeacher a h2{
    margin: 0 25px;
}

a.closeMark {
    margin-left: 65%;
    text-decoration: none;
    color: black;
}